@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Gloria+Hallelujah&family=League+Spartan&family=Ubuntu:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.center{
    text-align: center;
    font-size: 50px;
    padding: 40px;
    padding-bottom: 20px;
    color: black;
}
/* Navbar */
nav{
    position: fixed;
    width: 100%;
    background-color: #F7F7F9;
    transition: all 0.3s ease;
}
nav .navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 30px 0px;
}
nav .navbar .logo{
    margin-left: 30px;
}
nav .navbar .logo img{
    height: 68px;
    width: 160px;
}
nav .navbar .menu{
    display: flex;
    position: relative;
    
    align-items: center;
}
nav .navbar .menu li{
    list-style: none;
    margin: 0px 25px;
}
nav .navbar .menu a{
    font-size: 19px;
    font-weight: 700;
    color: black;
    padding: 6px 20px;
}
nav .navbar .menu a:hover{
    color: orange;
}
nav .navbar button{
    border: none;
    font-size: 15px;
    padding: 14px 16px;
    cursor: pointer;
    background-color: orange;
    color: white;
    font-weight: 600;
    border-radius: 20px;
}
nav .navbar button:hover{
    background-color: #F7F7F9;
    border: 2px solid orange;
    color: black;
}

/* Home */
.home{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#E8EEF1, white);
    background-size: cover;
}
.home .home-content{
    width: 90%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.home .home-content .text{
    margin-left: 10px;  
    color: black;
    width: 35%;
}
.home .home-content .text h1{
    font-size: 50px;
}
.home .home-content .text p{
    font-size: 20px;
    padding-top: 35px;
    color: black;
    font-weight: 500;
}
.home .home-content .text span{
    color: orange;
}
.home .home-content .text button{
    margin-top: 20px;
    font-size: 18px;
    padding: 15px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 140px;
}
.home .home-content .text button:hover{
    background-color: #F7F7F9;
    border: 2px solid orange;
    color: black;
}
.home .home-content .home-image{
    margin-right: 2px;
}
.home .home-content .home-image img{
    width: 830px;
    height: 549px;
}

/* Section-2 */
.section-2{
    height: 70%;
    background-color: white;
    padding-bottom: 300px;
    color: white;
    
}
.section-2 .title-line{
    width: 10%;
    background-color: black;
    height:2px;
    margin: auto;
}
.section-2 .cards{
    width: 70%;
    display: flex;
    margin: 25px auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border: 2px solid white;
}
.section-2 .cards .card-1{
    margin: 50px;
    text-align: center;
    padding: 25px;
    background-color: orange;
    border-radius: 15px;
    width: 25%;
    height: 60%;
}
.section-2 .cards .card-1:hover{
    background-color: #F7F7F9;
    border: 2px solid orange;
    color: black;
}
.section-2 .cards .card-1 h2{
    padding: 10px;
    text-align: center;
    font-size: 35px;
}
.section-2 .cards .card-1 .line-1{
    width: 40%;
    height: 1px;
    background-color: black;
    margin: 8px auto;
}
.section-2 .cards .card-1 p{
    text-align: center;
    padding: 10px 15px;
    padding-bottom: 30px;
    font-size: 18px;
}
.section-2 .cards .card-1 .explore-button{
    font-size: 20px;
    border: none;
    padding: 12px;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.section-2 .cards .card-1 .explore-button:hover{
    cursor: pointer;
    background-color: #F7F7F9;
    color: black;
    border: 2px solid orange;
}

/* Section 3 */
.section-3{
    height: 100%;
    width: 100%;
    background-color: white;
    margin-bottom: 120px;
}
.section-3 .section-3-content{
    display: flex;
    margin:  auto;
    width: 90%;
    align-items: center;
    background-color: #F7F7F9;
    border-radius: 3px;
}
.section-3 .section-3-content .section3-img{
    margin: 50px;
    padding: 20px;
    width: 25%;
    align-items: center;
}
.section-3 .section-3-content img{
    height: 640px;
    width: 580px;
}
.section-3 .section-3-content .right-3{
    width: 70%;
    margin: 30px;
    padding-left: 40px;
}
.section-3 .section-3-content .right-3 h1{
    font-size: 78px;
    padding: 20px 0px;
    padding-right: 30px;
    color: black;
}
.section-3 .section-3-content .right-3 .h1-p{
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 20px;
    width: 70%;
    color: black;
}
.section-3 .section-3-content .contents{
    display: flex;
    flex-direction: row;
}
.section-3 .right-box-3{
    background-color: orange;
    width: 70%;
    border-radius: 4px;
    padding: 20px;
    color: white;
}
.section-3 .right-box-3 .content{
    padding: 15px 5px;
}
.section-3 .right-box-3 .content-h3{
    font-size: 28px;
    padding: 5px 10px;
    padding-bottom: 10px;
}
.section-3 .right-box-3 .content-p{
    font-size: 18px;
    padding: 0px 10px;
    font-weight: 500;
}

/* Section-4 */
.section-4{
    background-color: #F7F7F9;
    height: 90%;
    color: black;
    padding: 100px;
}

.section-4 .section-4-content{
    display: flex;
    justify-content: space-around;
    padding: 100px;
    
}
.section-4 .section-4-content .section-4-left{
    width: 33%;
    text-align: center;
}
.section-4 .section-4-content .section-4-left h1{
    font-size: 55px;
    padding-bottom: 40px;
}
.section-4 .section-4-content .section-4-left p{
    font-size: 25px;
}
.section-4 .section-4-content .section-4-button{
    margin: 25px;
    border: none;
    padding: 18px;
    font-size: 23px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.section-4 .section-4-content .section-4-button:hover{
    background-color: #F1FAFC;
    border: 2px solid orange;
    color: black;
}
.section-4 .section-4-content .section-4-right{
    width: 35%;
}
.section-4 .section-4-content .section-4-right img{
    height: 400px;
    width: 450px;
    margin: auto;
}
/* Section-5 */
.section-5{
    height: 80%;
    display: flex;
    flex-direction: column;
}
.section-5 .section-5-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-5 .section-5-content .card{
    height: 70%;
    margin: 40px 40px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: black;
}
.section-5 .odd{
    background-image: linear-gradient(#F1FAFC, orange);
}
.section-5 .even{
    background-image: linear-gradient(orange, #F7F7F9);
}
.section-5 .section-5-content .card h2{
    padding-bottom: 15px;
}
.section-5 .section-5-content .card .line-5{
    height: 1px;
    background-color:black;
    width: 50%;
    margin: auto;
}
.section-5 .section-5-content.card p{
    padding-top: 20px;
}
/* Footer */
footer{
    background-color: black;
    padding: 50px
}
footer .footer-1{
    display: flex;
    flex-direction: column;
    
}
footer .footer-1 .footer{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    align-items: baseline;
}
footer .footer .col{
    width: 20%;
    
    display: flex;
    flex-direction: column;
}
footer .footer .col1 h2{
    margin-bottom: 20px;
}
footer .footer .col1 .address{
    margin-bottom: 30px;
}
footer .footer .col1 a{
    color: grey;
}
footer .footer h2{
    margin-bottom: 20px;
}
footer .footer a{
    color: grey;
    padding-bottom: 12px;
}
footer .footer .col4 i{
    padding-bottom: 15px;
    font-size: 22px;
    color: grey;
}
footer .footer .col4 img{
    height: 90px;
    width: 180px;
}
footer .footer .col4 button{
    padding: 10px;
    font-size: 20px;
    width: 180px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
footer .footer .col4 button:hover{
    background-color: white;
    color: black;
}
footer .line{
    height: 1px;
    width: 85%;
    background-color: grey;
    margin: auto;
}
footer .content{
    padding-top: 20px;
    color: grey;
    margin: auto;
    display: flex;
    flex-direction: row;
}
footer .content p{
    padding-left: 30px;
}
/* Responsive Media Queries */
@media (max-width:1200px), (max-height:700px){
    nav .navbar .logo img{
        height: 55px;
        width: 90px;
    }
    nav .navbar .menu a{
        font-weight: 400;
        padding: 6px 10px;
        font-size: 20px;
    }
    .home .home-content .text h1{
        font-size: 40px;
        padding-top: 120px;
    }
    .home .home-content .text button{
        padding: 10px;
        width: 140px;
        font-size: 18px;
    }
    .home .home-content .text p{
        font-size: 18px;
        padding-top: 25px;
        font-weight: 400;
    }
    .home .home-content .home-image img{
        width: 550px;
        height: 400px;
    }
    .section-2 .cards .card-1{
        margin: 15px;
    }
    .section-3 .section-3-content .section3-img{
        margin: 20px;
        padding: 20px;
        width: 38%;
        align-items: center;
    }
    .section-4{
        height: 100%;
        padding: 50px;
    }
    .section-4 .section-4-content .section-4-left h1{
        font-size: 45px;
    }
    .section-4 .section-4-content .section-4-left p{
        font-size: 20px;
    }
    .section-5 .section-5-content .card{
        height: 70%;
        margin: 40px 20px;
    }
}

@media (max-width:1000px){
    nav{
        width: 100vw;
        position: fixed;
    }
    nav .navbar{
        align-items: center;
        margin: auto;
        justify-content: center;
    }
    nav .navbar .logo{
        margin-left: 4px;
    }
    nav .navbar .logo img{
        height: 55px;
        width: 100px;
    }
    nav .navbar .menu li{
        margin: 5px 5px;
    }
    nav .navbar .menu a{
        font-weight: 400;
        padding: 6px 10px;
        font-size: 15px;
    }
    nav .navbar button{
        font-size: 12px;
        padding: 8px 12px;
        margin-right: 5px;
    }
    .home{
        width: 100vw;
        height: 100%;
        margin-bottom: 30px;
    }
    .home .home-content{
        padding: 10px;
        padding-top: 50px;
    }
    .home .home-content .text{
        margin-left: 10px;
        
    }
    .home .home-content .text h1{
        font-size: 36px;
        padding-top: 120px;
    }
    .home .home-content .text button{
        padding: 10px;
        width: 110px;
        font-size: 15px;
    }
    .home .home-content .text p{
        font-size: 15px;
        padding-top: 25px;
        font-weight: 400;
    }
    .home .home-content .home-image img{
        width: 390px;
        height: 250px;
    }
    .section-2{
        width: 100vw;
        height: 60%;
    }
    .section-2 h1{
        font-size: 30px;
    }
    .section-2 .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    .section-2 .cards .card-1{
        margin: 10px auto;
        padding: 5px 10px;
        width: 75%;
    }
    .section-2 .cards .card-1 h2{
        font-size: 15px;
        height: 30%;
    }
    .section-2 .cards .card-1 .line-1{
        margin: 1px auto;
        width: 30%;
    }
    .section-2 .cards .card-1 p{
        font-size: 10px;
        padding: 10px 15px;
    }
    .section-2 .cards .card-1 .explore-button{
        font-size: 10px;
        padding: 6px;
    }
    .section-3{
        width: 100vw;
        height: 80%;
    }
    .section-3 .section-3-content{
        display: flex;
        flex-direction: column;
    }
    .section-3 .section-3-content .section3-img{
        margin: auto 20px;
        
    }
    .section-3 .section-3-content img{
        height: 220px;
        width: 220px;
    }
    .section-3 .section-3-content .right-3{
        width: 80%;
        padding: 10px;
    }
    .section-3 .section-3-content .right-3 h1{
        font-size: 30px;
        padding: 20px 0px;
    }
    .section-3 .section-3-content .right-3 .h1-p{
        font-size: 15px;
    font-weight: 500;
    }
    .section-3 .right-box-3{
        border-radius: 4px;
        padding: 10px;
    }
    .section-3 .right-box-3 .content-h3{
        font-size: 15px;
        padding-bottom: 5px;
    }
    .section-3 .right-box-3 .content-p{
        font-size: 10px;
        padding: 0px 10px;
    }
    .section-4{
        margin-top: 20px;
        height: 75%;
    }
    .section-4 .section-4-content{
        display: flex;
        flex-direction: column;
        padding: 0px;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    .section-4 .section-4-content .section-4-left{
        width: 77%;
        text-align: center;
        
    }
    .section-4 .section-4-content .section-4-left h1{
        font-size: 35px;
        padding-bottom: 10px;
        width: 90%;
        margin: auto;
        
    }
    .section-4 .section-4-content .section-4-left p{
        font-size: 15px;
        padding: 15px;
    }
    .section-4 .section-4-content .section-4-button{
        margin: 15px;
        font-size: 15px;
        padding: 13px;
    }
    .section-4 .section-4-content .section-4-right{
        margin-top: 10px;
        width: 51%;
    }
    .section-4 .section-4-content .section-4-right img{
        height: 300px;
        width: 320px;
        
    }
    .section-5{
        height: 120%;
    }
    .section-5 .center{
        font-size: 40px;
    }
    .section-5 .section-5-content{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .section-5  .section-5-content .card{
        height: 20%;
        margin: 10px auto;
        padding: 0px;
        width: 70%;
        padding: 7px;
        font-size: 15px;
    }
    .section-5  .section-5-content .card h2{
        padding: 10px 5px;
    }
    .section-5  .section-5-content .card p{
        padding-top: 10px;
    }
    footer .footer-1{
        flex-direction: column;
        text-align: center;
        margin: auto;
        width: 80%;
    }
    footer .footer-1 .footer{
        flex-direction: column;
    }
    footer .footer .col{
        width: 20%;
        margin: auto;
    }
    footer .line{
        width: 85%;
    }
    footer .footer .col{
        margin-bottom: 20px;
    }
    footer .footer button{
        margin: 7px auto;
    }
}
@media (max-height:700px){
    nav .navbar .logo img{
        height: 55px;
        width: 90px;
    }
    nav .navbar .menu a{
        font-weight: 400;
        padding: 6px 10px;
        font-size: 20px;
    }
}
@media (max-height:450px),(max-width:700px){
    nav .navbar .logo img{
        height: 50px;
        width: 85px;
    }
    nav .navbar .menu a{
        font-weight: 400;
        padding: 6px 10px;
        font-size: 13px;
    }
    nav .navbar button{
        font-size: 10px;
        padding: 10px;
    }
    .home .home-content .text{
        width: 30%;
    }
    .home .home-content .text h1{
        font-size: 20px;
        padding-top: 120px;
    }
    .home .home-content .text button{
        padding: 5px;
        width: 80px;
        font-size: 10px;
    }
    .home .home-content .text p{
        font-size: 10px;
    }
    .home .home-content .home-image{
        padding-left: 50px;
    }
    .home .home-content .home-image img{
        width: 350px;
        height: 200px;
        
    }
}
@media (max-height:450px),(max-width:555px){
    nav .navbar .logo img{
        height: 40px;
        width: 75px;
    }
    nav .navbar .menu a{
        font-weight: 400;
        padding: 6px 10px;
        font-size: 10px;
    }
    nav .navbar button{
        font-size: 8px;
        padding: 10px;
    }
    .section-2{
        width: 100vw;
        height: 60%;
    }
    .section-2 h1{
        font-size: 20px;
    }
    .section-2 .cards .card-1{
        margin: 8px auto;
        padding: 5px 5px;
        width: 75%;
    }
    .section-2 .cards .card-1 h2{
        font-size: 14px;
        height: 25%;
    }
    .section-2 .cards .card-1 .line-1{
        margin: 1px auto;
        width: 30%;
    }
    .section-2 .cards .card-1 p{
        font-size: 9px;
        padding: 10px 15px;
    }
    .section-2 .cards .card-1 .explore-button{
        font-size: 10px;
        padding: 6px;
    }
    .section-3{
        width: 100vw;
        height: 110%;
    }
    .section-3 .section-3-content{
        display: flex;
        flex-direction: column;
    }
    .section-3 .section-3-content .section3-img{
        margin: auto 10px;
        
    }
    .section-3 .section-3-content img{
        height: 170px;
        width: 170px;
    }
    .section-3 .section-3-content .right-3{
        width: 80%;
        padding: 10px;
    }
    .section-3 .section-3-content .right-3 h1{
        font-size: 20px;
        padding: 15px 0px;
    }
    .section-3 .section-3-content .right-3 .h1-p{
        font-size: 10px;
        font-weight: 500;
    }
    .section-3 .right-box-3{
        border-radius: 4px;
        padding: 5px;
    }
    .section-3 .right-box-3 .content-h3{
        font-size: 12px;
        padding-bottom: 5px;
    }
    .section-3 .right-box-3 .content-p{
        font-size: 8px;
        padding: 0px 10px;
    }
    .section-4{
        margin-top: 20px;
        height: 95%;
    }
    .section-4 .section-4-content .section-4-left h1{
        font-size: 25px;
        padding-bottom: 10px;
        width: 90%;
        margin: auto;
        
    }
    .section-4 .section-4-content .section-4-left p{
        font-size: 12px;
        padding: 15px;
    }
    .section-4 .section-4-content .section-4-button{
        margin: 15px;
        font-size: 12px;
        padding: 10px;
    }
    .section-4 .section-4-content .section-4-right{
        margin-top: 10px;
        width: 51%;
    }
    .section-4 .section-4-content .section-4-right img{
        height: 200px;
        width: 220px;
        
    }
    .section-5{
        height: 185%;
    }
    .section-5 .center{
        font-size: 25px;
    }
    .section-5  .section-5-content .card{
        width: 65%;
        padding: 7px;
        font-size: 12px;
    }
    footer{
        font-size: 10px;
    }
    footer .footer .col4 img{
        height: 50px;
        width: 120px;
        margin: auto;
    }
    footer .footer .col4 button{
        padding: 10px;
        font-size: 10px;
        width: 90px;
    }
}
@media (max-height:476px){
    nav .navbar .logo img{
        height: 30px;
        width: 65px;
    }
    nav .navbar .menu a{
        font-weight: 400;
        padding: 6px 10px;
        font-size: 6px;
    }
    nav .navbar button{
        font-size: 6px;
        padding: 8px;
    }
    .section-2{
        height:70%
    }
    .section-3{
        height: 120%;
    }
    .section-4{
        height:110%
    }
    .section-4 .section-4-content .section-4-button{
        margin: 5px;
        font-size: 10px;
        padding: 8px;
    }
}